@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');

/****************
Variables
****************/
$bela: #fff;
$crvena: rgb(239, 35, 60);
$tamnoSiva: rgb(175, 169, 169); 
$svetloSiva:rgb(234, 226, 226); 
$crna:rgb(51, 50, 50);
$fontSize: 16px;
$transition: .4s ease-in-out;

/****************
Mixins
****************/
@mixin btn {
    padding: 15px 90px;
    color: $bela;
    background-color: $crvena;
    border: none;
    font-size: 1.2rem;
    &:hover {
        color: $crvena;
        background-color: $bela;
        transition: $transition;
        cursor: pointer;
    }
}

@mixin headings {
    color: $crvena;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    &::after {
        display: block;
        content: "";
        height: 3px;
        width: 100px;
        margin: 10px 0 0 0;
        background-color: $crvena;
    }
}

/****************
Basic styles
****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $fontSize;
    color: $crna;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
}

.container {
    width: 85%;
    margin: auto;
}

ul {
    list-style: none;
}

/****************
Header
****************/
header {
    background-image:linear-gradient(rgba(65,65,65,.4),rgba(65,65,65,.4)),url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 30px;
    nav {
        background-color: $bela;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 7px 30px 22px 30px;
        .logo {
            text-transform: uppercase;
            text-decoration: none;
            color: $tamnoSiva;
            font-size: 2.4rem;
            letter-spacing: 2px;
            line-height: .9;
            font-weight: bold;
            &::first-letter {
                color: $crvena;
            }
            p {
                font-size: 1rem;
                text-transform: lowercase;
                letter-spacing: 0;
                font-weight: 100;
            }
        }
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin-left: 60px;
                padding-top: 15px;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $tamnoSiva;
                    letter-spacing: 2px;
                    font-size: 1.1rem;
                }
            }
        }
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        padding: 0 120px;
        h1 {
            color: $bela;
            font-size: 3rem;
            padding-bottom: 20px;
        }
        p {
            color: $bela;
            text-align: center;
            font-size: 1.3rem;
            padding-bottom: 40px;
        }
        button {
            @include btn;
        }
    }
}

/****************
One
****************/
.one {
    display: flex;
    flex-wrap: wrap;
    .col {
        flex: 0 0 50%;
        height: 500px;
    }
    .col:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
        h3 {
            @include headings;
        }
        h2 {
            font-size: 1.7rem;
            padding-bottom: 45px;
        }
        p {
            padding-bottom: 35px;
        }
        button {
            @include btn;
            &:hover {
                background-color: $tamnoSiva; 
                color: $bela;
            }
        }
    }
    .col:last-child {
        background-image: url(../img/one.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/****************
Two
****************/
.two {
    background-color: $svetloSiva;
    text-align: center;
    padding: 30px 0;
    h3 {
        @include headings;
        &::after {
            margin: 30px auto 30px auto;
        }
    }
    h2 {
        font-size: 1.7rem;
        margin-bottom: 40px;
    }
    p {
        padding-bottom: 60px;
        line-height: 1.7;
    }
    button {
        @include btn;
        &:hover {
            background-color: $tamnoSiva; 
            color: $bela;
        }
    }
}

/****************
Three
****************/
.three {
    background-color: $svetloSiva;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    .col {
        flex: 0 0 30%;
        h3 {
            font-size: 1.5rem;
            i {
                color: $crvena;
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }
        p {
            margin-bottom: 20px;
        }
        a {
            color: $crna;
            font-size: 1.1rem;
        }
    }
}

/****************
Four
****************/
.four {
    background-image: url(../img/three.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    .col {
        text-align: right;
        width: 30%;
        h3 {
            @include headings;
            &:after {
                display: none;
            }
        }
        h2 {
            color: $bela;
            font-size: 2.1rem;
            padding-bottom: 40px;
        }
        p {
            color: $bela;
            padding-bottom: 20px;
        }
        button {
            @include btn;
        }
    }
}

/****************
Fifth
****************/
.fifth {
    padding: 40px 0;
    h3 {
        @include headings;
        text-align: center;
        &::after {
            display: none;
        }
    }
    h2 {
        font-size: 2.2rem;
        text-align: center;
        padding-bottom: 40px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        .col {
            flex: 0 0 50%;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
            h2 {
                font-size: 3rem;
                color: $crvena;
            }
            h3 {
                color: $crna;
                font-family: 'Kaushan Script', cursive;
                margin-top: -35px;
                text-transform: capitalize;
            }
            p {
                line-height: 1.5;
                font-size: 1.2rem;
                margin-bottom: 20px;
            }
            i {
                color: $crvena;
                font-size: 2rem;
                margin-right: 90px;
            }
        }
        .textLeft {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 0px 0 50px;
        }
        .textRight {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 0 50px 0 0;
            p {
                text-align: right;
            }
        }
    }
}

/****************
Sixth
****************/
.sixth {
    background-color: $crvena;
    color: $bela;
    text-align: center;
    padding: 50px 0;
    h3 {
        @include headings;
        color: $bela;
    }
    h2 {
        font-size: 3rem;
    }
}

/****************
Seventh
****************/
.seventh {
    display: flex;
    flex-wrap: wrap;
    .col-6:first-child {
        height: 100vh;
        width: 50%;
        background-image: url(../img/project1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .col-6:last-child {
        height: 100vh;
        width: 50%;
        .row:first-child {
            display: flex;
            flex-wrap: wrap;
            .col-2:first-child {
                height: 50vh;
                width: 50%;
                background-image: url(../img/project9.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .col-2:last-child {
                height: 50vh;
                width: 50%;
                background-image: url(../img/project3.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .row:last-child {
            display: flex;
            flex-wrap: wrap;
            .col-2:first-child {
                height: 50vh;
                width: 50%;
                background-image: url(../img/project4.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .col-2:last-child {
                height: 50vh;
                width: 50%;
                background-image: url(../img/project11.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

/****************
Eighth
****************/
.eighth {
    background-color: $crvena;
    color: $bela;
    text-align: center;
    padding: 50px 0;
    font-size: 1.7rem;
}

/****************
Nineth
****************/
.nineth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    .col {
        flex: 0 0 25%;
        padding: 20px;
        text-align: center;
        h2 {
            color: $crvena;
            font-size: 7rem;
        }
        h3 {
            font-size: 2rem;
            padding: 20px 0;
            text-transform: uppercase;
        }
        p {
            font-size: 1.1rem;
        }
    }
}

/****************
Tenth
****************/
.tenth {
    padding: 0 0 50px 0;
    hgroup {
        text-align: center;
        h3 {
            font-family: 'Source Sans Pro', sans-serif;
            color: $crvena;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding-bottom: 20px;
        }
        h2 {
            font-size: 4rem;
        }
        p {
            padding: 0 600px 30px 600px;
            font-size: 1.2rem;
        }
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .col {
            flex: 0 0 33%;
            padding: 100px 50px;
            &:hover {
                box-shadow: 0 0 20px $tamnoSiva;
                transition: $transition;
            }
            h3 {
                font-size: 1.7rem;
            }
            h2 {
                font-size: 2.5rem;
                padding-bottom: 50px;
                span {
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $crvena;
                    font-size: 1.3rem;
                }
            }
            ul {
                line-height: 2;
                i {
                    color: $crvena;
                }
            }
        }
    }
}

/****************
Eleventh
****************/
.eleventh {
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/ten.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 90vh;
        h2 {
            color: $bela;
            font-size: 3.5rem;

        }   
        p {
            color: $crvena;
            font-style: italic;
            font-size: 1.9rem;
            padding-top: 30px;
        }
    }
}

/****************
Twelfth
****************/
.twelfth {
    padding: 50px;
    h3 {
        color: $crvena;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.7rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.4rem;
    }
}

/****************
Thirteenth
****************/
.thirteenth {
    padding: 70px 100px 70px 70px;
    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 20px;
        span {
            color: $crvena;
        }
    }
    form {
        margin-top: 20px;
        input[type="text"] {
            width: 40%;
            margin-right: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }
        textarea {
            width: 81%;
            padding: 20px;
            margin-bottom: 20px;
        }
        input[type="submit"] {
            display: block;
            background-color: $crvena;
            color: $bela;
            letter-spacing: 2px;
            text-transform: uppercase;
            border: none;
            padding: 15px 100px;
            font-size: 1.1rem;
            &:hover {
                background-color: $tamnoSiva;
                color: $crvena;
                transition: $transition;
            }
        }
    }
}

/****************
Footer
****************/
footer {
    text-align: center;
    color: $bela;
    background-color: $crvena;
    padding: 50px 0;
    i {
        color: $bela;
        font-size: 2.2rem;
        margin: 0 20px;
    }
    p {
        font-size: 1.1rem;
        margin-top: 10px;
    }
}
















